body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

form {
    max-width: 600px;
    margin: 20px auto;
}

.question {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    max-width: 600px;
    margin: 20px auto;
}

#correctAnswers {
    list-style-type: none;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

nav {
    background-color: #333;
    padding: 10px;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

header {
    background-color: #474444;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* form {
    left: auto;
} */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px; 
    margin: auto; 
}